<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datei-Upload</title>
</head>
<body>
<form enctype="multipart/form-data" method="post" th:action="@{/upload}">
    <label for="datei">Datei hochladen</label>
    <input type="file" name="datei" id="datei"><br>
    <label for="beschreibung">Beschreibung der Datei:</label>
    <input type="text" name="beschreibung" id="beschreibung"><br>
    <input type="submit" value="Upload">
</form>

<div th:if="${nachricht}">
    <p th:text="${nachricht}">Error</p>
</div>
<div th:if="${maxUploadError}">
    <p th:text="${maxUploadError}">Error</p>
</div>


</body>
</html>